@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  overflow-x: hidden;
  font-family: "Nunito", Roboto, sans-serif;
}
.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: black;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/asset/cardgrad.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  width: 95%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-breaker {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/asset/cardimg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.course-hero {
  background-image: linear-gradient(
      rgba(15, 23, 42, 0.9),
      rgba(15, 23, 42, 0.9)
    ),
    url("/asset/cardimg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.courses-grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
}

.courses-search-result-boxshadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.course-detail-boxshadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
course-breaker-grid {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
